[http]
	sslVerify = false
[pull]
	rebase = true
[push]
	default = simple
[alias]
	st = status
	co = checkout
	ci = commit
	la = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(red)%h%C(reset) %C(auto)%d%C(reset) %C(white)%s%C(reset) %C(green)(%ar)%C(reset) - %C(cyan)%an%C(reset)' --all
        ls = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(red)%h%C(reset) %C(auto)%d%C(reset) %C(white)%s%C(reset) %C(green)(%ar)%C(reset) - %C(cyan)%an%C(reset)'
        #list file names along with the changes
        fc = log --stat
[fetch]
        prune = true
[include]
    	path = ~/.gitconfig.local
